{
  "extends": ["prettier", "eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react", "prettier", "import"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
